@media (max-width: 767.98px) {
  .header {
    display: none;
  }
}

.header {
  background: #488dff;
  padding-top: 8px;
  color: #fff;

  .container {
    display: flex;
  }

  &__logo {
    display: inline-flex;
    margin-right: 16px;
    height: 28px;

    img {
      max-width: 200px;
      margin-top: 2px;
      height: 100%;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__menu {
    display: inline-flex;
    flex-wrap: wrap;
    flex: 1 auto;
    justify-content: flex-end;

    li {
      display: inline-flex;
      align-items: center;
      padding: 0 12px;
      transition: all ease-in-out .45s;
      opacity: .66;

      a {
        color: #fff;
        text-decoration: none;
      }

      &:hover {
        cursor: pointer;
        opacity: 1;
        text-shadow: rgba($color: #FFF, $alpha: .55);
      }
    }
  }

  &__item {
    display: inline-flex;
    align-items: center;
  }
}

.menu-popover {
  list-style: none;
  margin: 0;
  padding: 0;

  .anticon {
    margin-right: 4px;
  }

  li {
    padding: 8px;
  }
}

.languages {
  display: flex;
  margin: -12px -16px;

  &__title {
    margin-left: 16px;
    display: flex;
    font-weight: bold;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 6px 16px;
      min-width: 250px;
      transition: background .2s ease-out;

      &:hover {
        background: #f6f6f6;
      }
    }
  }

  .currency,
  .language {
    margin: 8px 0;
    padding: 8px 0;
  }

  .language {
    border-right: 1px solid #ddd;

    &__flag {
      margin-right: 8px;
    }

  }

  .currency {
    li {
      align-items: flex-end;
    }

    &__btn {
      display: flex;
      justify-content: flex-end;

      &:hover {
        background: none;
      }
    }

    &__token {
      margin-right: 8px;
      text-transform: uppercase;
    }

    &__name {
      color: rgb(180, 180, 180);
    }
  }
}