.flag {
  display: inline-block;
  width: 25px;
  height: 17px;
  border-radius: 2px;
  background-image: url(/static/images/flags.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 700px 525px;
  box-sizing: content-box;
}
.fc0 {background-position-x: -22px;}
.fc1 {background-position-x: -66px;}
.fc2 {background-position-x: -110px;}
.fc3 {background-position-x: -154px;}
.fc4 {background-position-x: -198px;}
.fc5 {background-position-x: -242px;}
.fc6 {background-position-x: -286px;}
.fc7 {background-position-x: -330px;}
.fc8 {background-position-x: -374px;}
.fc9 {background-position-x: -418px;}
.fc10 {background-position-x: -462px;}
.fc11 {background-position-x: -506px;}
.fc12 {background-position-x: -550px;}
.fc13 {background-position-x: -594px;}
.fc14 {background-position-x: -638px;}
.fr0{background-position-y: -18px}
.fr1{background-position-y: -54px}
.fr2{background-position-y: -90px}
.fr3{background-position-y: -126px}
.fr4{background-position-y: -160px}
.fr5{background-position-y: -196px}
.fr6{background-position-y: -232px}
.fr7{background-position-y: -268px}
.fr8{background-position-y: -304px}
.fr9{background-position-y: -340px}
.fr10{background-position-y: -376px}
.fr11{background-position-y: -412px}
.fr12{background-position-y: -448px}
.fr13{background-position-y: -484px}

.flag.vn {
    background-position-x: -112px;
    background-position-y: -487px;
}

.flag.th {
  background-position-x: -472px;
  background-position-y: -415px;
}

.flag.sg {
  background-position-x: -517px;
  background-position-y: -448px;
}