.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  opacity: 0.88;
  background: rgba(3, 3, 3, .68);
  animation-duration: .5s;
}

.floatOnBackdrop {
  position: relative;
  z-index: 102;
}
