.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: #fff;

  .ant-form {
    width: 100%;
    max-width: 450px;
  }

  &__logo {
    img {
      max-height: 125px;
      height: 100%;
    }
  }
}

.form-login {
  width: 100%;
  max-width: 300px !important;

  &__forgot {
    float: right;
  }

  &__btn-login {
    display: block;
    width: 100%;
    margin-top: -8px;
    margin-bottom: 8px;
  }
}