@import './list/blogs.less';
@import './post/post.less';
.blog-list {
  background: #fff;
  padding: 15px;
  padding-bottom: 0;
  margin-bottom: 15px;
}

.blog {
  display: flex;
  flex-direction: column;
  margin: 0 -15px;
  &__breadcrumb {
    padding: 16px 0;
  }
  &__title {
    display: block;
    box-sizing: content-box;
    padding-top: 8px;
    border-bottom: 2px solid #ff5700;
    span {
      display: inline-block;
      padding: 6px 12px 2px 12px;
      text-transform: uppercase;
      color: white;
      border-radius: 6px 6px 0 0;
      background-color: #ff5700;
    }
  }
  &__left,
  &__right {
    padding: 0 15px;
  }
  &__left {
    flex: 1 auto;
  }
  &__right {
    flex-shrink: 0;
    flex-grow: 0;
  }
  &__ads {
    display: block;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    img {
      width: 100%;
    }
  }
  
  ul.info {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 1em;
    overflow: hidden;
    color: #aaa;
    font-size: 12px;
    line-height: 1;
    .author {
      color: #777;
      font-weight: bold;
    }
    li {
      display: inline-flex;
      align-items: center;
      margin-right: 16px;
    }
  }
}

.category {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    border-bottom: 1px dashed #e8e8e8;
    line-height: 32px;
    cursor: pointer;
    transition: all linear .45s;
    &.actived,
    :hover {
      color: #488dff;
    }
  }
}

.sticky-ads {
  position: sticky;
  top: 15px;
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {
  .blog {
    flex-direction: row;
    &__right {
      width: 300px;
    }
  }
}

@media (min-width: 1200px) {}